/*#region Css Reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: black;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*#endregion*/

.separator {
    height: 100vh;
    background-color: rgba(10,10,20,1);
}

.dropHolder li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 500px) {
    .separator {
        background-color: lightblue;
    }
}

nav {
    padding: 50px 0 0 50px;
    text-align: center;
    float: left;
}
nav > ul {
    list-style: none;
    display: inline-block;
    background: #ddd;
    border-radius: 5px;
}
nav > ul > li {
    float: left;
    width: 150px;
    height: 65px;
    line-height: 65px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
nav > ul > li:hover {
    background: #d5d5d5;
    border-radius: 5px;
}

ul.dropMenu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}
ul.dropMenu li {
    background: #666;
    color: rgba(255, 255, 255, 0.7);
    display: none;
}
ul.dropMenu li:hover {
    background: #606060;
}
ul.dropMenu li:last-child {
    border-radius: 0px 0px 5px 5px;
}
/*
li:hover > ul.dropMenu li {
    display: block;
}
*/
ul.dropMenu.menu1 li {
    opacity: 0;
    animation: menu1;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.toBlock {
    display: block;
}
@keyframes menu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}
@-webkit-keyframes menu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}

ul.dropMenu.menu2 li {
    opacity: 0;
    animation: menu2;
    transform-origin: top center;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menu2 {
    0% {
        opacity: 0;
        transform: rotateX(-45deg);
    }
    25% {
        transform: rotateX(45deg) translateX(100px);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateX(0px);
    }
}
@-webkit-keyframes menu2 {
    0% {
        opacity: 0;
        transform: rotateX(-45deg);
    }
    25% {
        transform: rotateX(45deg) translateX(100px);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateX(0px);
    }
}

ul.dropMenu.menu3 li {
    opacity: 0;
    animation: menu3;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@keyframes menu3 {
    0% {
        opacity: 0;
        transform: rotateX(45deg) translate(-20px);
    }
    25% {
        transform: rotateX(0deg) translateX(-50px);
    }
    50% {
        transform: rotateX(-45deg) translateX(20px);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateX(0px);
    }
}

@-webkit-keyframes menu3 {
    0% {
        opacity: 0;
        transform: rotateX(45deg) translate(-20px);
    }
    25% {
        transform: rotateX(0deg) translateX(-50px);
    }
    50% {
        transform: rotateX(-45deg) translateX(20px);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateX(0px);
    }
}

ul.dropMenu.menu4 li {
    opacity: 0;
    animation: menu4;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@keyframes menu4 {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}
@-webkit-keyframes menu4 {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

li:hover > ul.dropMenu.menu5 li {
    opacity: 0;
    animation: menu5;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@keyframes menu5 {
    0% {
        opacity: 0;
        transform: skew(-40deg) translate(-10px,-5px);
    }
    100% {
        opacity: 1;
        transform: skew(0deg);
    }
}

@-webkit-keyframes menu5 {
    0% {
        opacity: 0;
        transform: skew(-40deg) translate(-10px,-5px);
    }
    100% {
        opacity: 1;
        transform: skew(0deg);
    }
}
